@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.text-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border-width: 2px;
  background-color: white;
  border-color: #e5e7eb;
  color: #111827;
  ::placeholder {
    color: #6b7280;
  }

  &:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.25);
  }
}

@media (min-width: 768px) {
  .text-input {
    padding: 1rem;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .text-input {
    background-color: #374151;
    border-color: #4b5563;
    color: white;
  }

  .text-input::placeholder {
    color: #9ca3af;
  }

  .text-input:focus {
    border-color: #3b82f6;
  }
}
